.nound {
    text-decoration: none;
}

.nound img {
    transition: transform 0.15s ease-out;
}

.nound img:hover {
    transform: scale(1.075);
}

.tableVue {
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 50px;
}

.tableVue td.tl {
    border-top-left-radius: 20px;
}

.tableVue td.tr {
    border-top-right-radius: 20px;
}

.tableVue tr td {
    height: 40px;
    min-width: 200px;
}

.tableVue tr.top {
    background-color: #3c0068 !important;
    color: white;
}

.tableVue tr:nth-child(even) {
    background-color: #DCDCDC;
}

.tableVue tr:nth-child(odd) {
    background-color: #c6c6c6;
}

.tableVue tr:last-child td.bl {
    border-bottom-left-radius: 20px;
}

.tableVue tr:last-child td.br {
    border-bottom-right-radius: 20px;
}

.pointer {
    cursor: pointer;
}

.alert-danger {
    position: absolute !important;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex !important;
    justify-content: space-between !important;
}

.alert-danger svg:hover {
    cursor: pointer;
}